/* Vars */
/* Colour Vars */
/* Colour Classes */
.orange {
  color: #ff5c00 !important; }

.lime {
  color: #a8ff00 !important; }

.green {
  color: #3cab49 !important; }

.green-dk {
  color: #006838 !important; }

/* Font Vars */
/* Base */
/* Mixins */
/* Border radius */
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* Placeholder text colour */
/* Body */
body {
  color: #FFF;
  background: #404041;
  font-family: "Josefin Sans";
  line-height: 1.25; }

@media (min-width: 992px) {
  .container {
    max-width: 62rem; } }

main {
  color: #221f1f;
  background: #FFF; }

/* Header */
header {
  background: #FFF;
  color: #221f1f; }
  header nav {
    background: #221f1f;
    width: 100%; }
    header nav .icon-logo {
      width: 3.75rem;
      height: 2.5rem;
      fill: #FFF; }
    header nav .dropdown a.menu {
      background: #404041;
      height: 3.5rem;
      padding-top: 0.875rem; }
      header nav .dropdown a.menu .icon-menu {
        width: 1.75rem;
        height: 1.75rem;
        fill: #FFF; }
    header nav .dropdown .dropdown-toggle::after {
      display: none; }
    header nav .dropdown .dropdown-menu {
      margin: 0;
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      border: 0;
      background: #57585b;
      width: 11rem; }
      header nav .dropdown .dropdown-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%; }
        header nav .dropdown .dropdown-menu ul li a:link, header nav .dropdown .dropdown-menu ul li a:visited {
          display: block;
          text-transform: uppercase;
          font-weight: 300;
          color: #FFF;
          padding: .35rem 1rem .25rem; }
        header nav .dropdown .dropdown-menu ul li a:focus, header nav .dropdown .dropdown-menu ul li a:hover {
          text-decoration: none;
          background: #221f1f; }
        header nav .dropdown .dropdown-menu ul li:first-child a:link, header nav .dropdown .dropdown-menu ul li:first-child a:visited {
          padding: .5rem 1rem .25rem; }
        header nav .dropdown .dropdown-menu ul li:last-child a:link, header nav .dropdown .dropdown-menu ul li:last-child a:visited {
          padding: .35rem 1rem .5rem; }
    header nav a.login, header nav a.messages {
      padding-top: 1rem;
      color: #a8ff00;
      font-weight: 300; }
      header nav a.login:focus, header nav a.login:hover, header nav a.messages:focus, header nav a.messages:hover {
        text-decoration: none; }
      header nav a.login .icon, header nav a.messages .icon {
        width: 1.2rem;
        height: 1.425rem;
        fill: #a8ff00; }
      header nav a.login span, header nav a.messages span {
        font-size: .75rem;
        display: none; }
        @media (min-width: 768px) {
          header nav a.login span, header nav a.messages span {
            display: inline-block; } }
    header nav a.messages {
      position: relative; }
      header nav a.messages .icon {
        width: 1.525rem;
        height: 1.3rem;
        fill: #FFF; }
      header nav a.messages span {
        display: inline-block; }
        header nav a.messages span.notification {
          position: absolute;
          top: 0.5rem;
          left: 0.25rem;
          width: 1.25rem;
          height: 1.25rem;
          padding-top: .2rem;
          background: #a8ff00;
          color: #221f1f;
          text-align: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          font-weight: 400; }
    header nav a.boss img {
      width: auto;
      height: 1.75rem;
      margin-top: .975rem; }

/* Footer */
footer {
  background: #404041; }
  footer nav {
    background: #221f1f; }
    footer nav ul {
      list-style: none;
      margin: 0;
      padding: .5em 0;
      text-align: center;
      line-height: 1; }
      footer nav ul li {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 300;
        border-left: 1px solid #FFF;
        margin: .5em 0;
        padding: 0 .5em 0 .75em; }
        footer nav ul li:first-child {
          border: 0; }
        footer nav ul li a:link, footer nav ul li a:visited {
          color: #a8ff00; }
  footer .logos {
    text-align: center; }
    footer .logos .footer-logo {
      width: 80%;
      height: auto; }
    @media (min-width: 576px) {
      footer .logos .footer-logo {
        width: 60%; } }
    @media (min-width: 768px) {
      footer .logos {
        width: 60%;
        float: right;
        text-align: right; }
        footer .logos .footer-logo {
          width: 80%; } }
    @media (min-width: 992px) {
      footer .logos {
        width: 70%;
        float: right; }
        footer .logos .footer-logo {
          width: 60%; } }
  footer .social {
    text-align: center;
    margin-top: 3em; }
    footer .social .icon {
      fill: #FFF;
      width: 2em;
      height: 2em;
      margin: 0 .25em; }
    @media (min-width: 768px) {
      footer .social {
        margin-top: 0;
        width: 25%;
        float: left;
        text-align: left; } }

/* Sections */
section.grey-light {
  background: #ddd; }
section.grey {
  background: #404041; }
section.green {
  background: #3cab49;
  color: #FFF !important; }
section.black {
  background: #221f1f;
  color: #FFF !important; }
section.reverse .row {
  flex-direction: column-reverse; }
  @media (min-width: 768px) {
    section.reverse .row {
      flex-direction: row; } }
section.profile-nav {
  background: #74a020; }
section.img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 20em; }
section img.align-base {
  margin-bottom: -3rem; }
@media (min-width: 768px) {
  section .pad-left-desk {
    padding-left: 2em; } }
@media (min-width: 992px) {
  section .pad-left-desk {
    padding-left: 4em; } }
@media (min-width: 768px) {
  section .pad-right-desk {
    padding-right: 2em; } }
@media (min-width: 992px) {
  section .pad-right-desk {
    padding-right: 4em; } }

/* Typography */
h1 {
  font-size: 1.5rem;
  font-weight: 300; }

h2 {
  font-size: 1.25rem;
  font-weight: 300; }

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25; }
  p.large {
    font-size: 1.25rem; }

ul {
  line-height: 1.25; }
  ul.tick-list {
    color: #006838;
    list-style: none;
    margin: 0;
    padding: 0; }
    ul.tick-list li {
      padding-bottom: 0.25em;
      padding-left: 2em;
      position: relative; }
      ul.tick-list li span {
        position: absolute;
        top: 0;
        left: 0; }
        ul.tick-list li span svg {
          display: inline-block;
          fill: #a8ff00;
          width: 1.25em;
          height: 1.25em;
          padding: 0.25em;
          background: #221f1f;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }

strong.green {
  color: #3cab49; }
strong.lime {
  color: #a8ff00; }

.highlight-this {
  line-height: 1.25em; }
  .highlight-this .highlight {
    display: inline;
    background: #221f1f;
    color: #FFF !important;
    padding: 0.375em 0.25em 0.25em;
    box-decoration-break: clone;
    position: relative;
    left: 0.25em;
    padding-left: 0;
    box-shadow: 0.25em 0 0 #221f1f, -0.25em 0 0 #221f1f; }
    .highlight-this .highlight.lime {
      background: #a8ff00;
      color: #221f1f !important;
      box-shadow: 0.25em 0 0 #a8ff00, -0.25em 0 0 #a8ff00; }
    .highlight-this .highlight.green {
      background: #3cab49;
      color: #FFF !important;
      box-shadow: 0.25em 0 0 #3cab49, -0.25em 0 0 #3cab49; }
    .highlight-this .highlight.white {
      background: #FFF;
      color: #221f1f !important;
      box-shadow: 0.25em 0 0 #FFF, -0.25em 0 0 #FFF; }
  .highlight-this.double .highlight:first-child {
    padding-bottom: .1em; }
  .highlight-this.double .highlight:last-child {
    padding-top: .15em; }

@media (min-width: 576px) {
  .mob-break {
    display: none; } }

/* CTAs */
a:link, a:visited {
  color: #3cab49;
  text-decoration: none; }
a:focus, a:hover {
  text-decoration: underline; }
a.button:link, a.button:visited {
  color: #a8ff00;
  background: #221f1f;
  font-size: 0.85rem !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  a.button:link.large, a.button:visited.large {
    font-size: 1.25rem !important; }
  a.button:link.lime, a.button:visited.lime {
    color: #221f1f !important;
    background: #a8ff00; }
  a.button:link.green, a.button:visited.green {
    color: #FFF !important;
    background: #3cab49; }
  @media (min-width: 768px) {
    a.button:link, a.button:visited {
      font-size: 1em; } }
  @media (min-width: 992px) {
    a.button:link, a.button:visited {
      font-size: 1.2em; } }
a.button:focus, a.button:hover {
  text-decoration: none; }
a span.button {
  color: #a8ff00;
  background: #221f1f;
  font-size: 0.85rem !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  a span.button.large {
    font-size: 1.25rem !important; }
  a span.button.lime {
    color: #221f1f;
    background: #a8ff00; }
  a span.button.green {
    color: #FFF;
    background: #3cab49; }
  @media (min-width: 768px) {
    a span.button {
      font-size: 1em; } }
  @media (min-width: 992px) {
    a span.button {
      font-size: 1.2em; } }

/* Icons and logos */
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: #221f1f; }

.howdidido-logo {
  width: 130px;
  height: 31px; }

/* Forms */
form label.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px !important; }
form ::-webkit-input-placeholder {
  color: #404041;
  opacity: 1; }
form :-moz-placeholder {
  color: #404041;
  opacity: 1; }
form ::-moz-placeholder {
  color: #404041;
  opacity: 1; }
form :-ms-input-placeholder {
  color: #404041;
  opacity: 1; }
form input, form select, form textarea {
  font-family: "Josefin Sans"; }
form input {
  border: 1px solid #FFF;
  background: #FFF;
  padding: .4rem 1rem .25rem 1rem;
  width: 100%; }
  form input:focus {
    outline: none; }
  form input:disabled {
    background: #ddd;
    border: 1px solid #ddd; }
  form input[type="radio"], form input[type="checkbox"] {
    width: auto;
    margin-right: .5rem; }
  form input[type="submit"] {
    background: #a8ff00;
    color: #221f1f;
    border: 1px solid #a8ff00;
    width: auto;
    cursor: pointer; }
    form input[type="submit"].search-icon {
      background: #a8ff00 url(../images/search.svg) no-repeat center center;
      background-size: auto 70%;
      text-indent: -2000em;
      padding: .4rem 1.25rem .25rem 1.25rem; }
    form input[type="submit"]:disabled {
      opacity: 0.5; }
form textarea {
  padding: .4rem 1rem .25rem 1rem;
  width: 100%; }
  form textarea:focus {
    outline: none; }
  form textarea:disabled {
    background: #ddd;
    border: 1px solid #ddd; }
form .inline-list span {
  display: inline-block;
  margin-right: 1rem; }
form .styled-select {
  width: 100%;
  overflow: hidden;
  background: #FFF url(../images/arrow-down.svg) no-repeat right center;
  background-size: auto 30% !important;
  border: 1px solid #FFF;
  border-right: 1rem solid #FFF; }
  form .styled-select select {
    background: transparent;
    width: 110%;
    padding: .4rem 1rem .25rem 1rem;
    border: 0;
    -webkit-appearance: none !important; }
    form .styled-select select:focus {
      outline: none; }
  form .styled-select.black {
    border: 1px solid #221f1f;
    border-right: 1rem solid #221f1f;
    background: #221f1f url(../images/arrow-down-lime.svg) no-repeat right center; }
    form .styled-select.black select {
      color: #FFF; }
  form .styled-select option {
    outline: none; }
form .form-flex {
  display: flex; }

/* Components */
/* Hero */
.hero-container {
  background-color: #f0f0f1;
  position: relative;
  width: 100%; }
  .hero-container.dark {
    background-color: #404041;
    color: #FFF; }
  .hero-container .arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #f0f0f1;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -25px; }
    .hero-container .arrow.lime {
      border-top: 30px solid #a8ff00; }
    .hero-container .arrow.dark {
      border-top: 30px solid #404041; }
  .hero-container .hero {
    padding-top: 2em;
    padding-bottom: 2em;
    z-index: 0;
    position: relative; }
    @media (min-width: 768px) {
      .hero-container .hero {
        padding-top: 3em; } }
    .hero-container .hero.bg-image {
      background-repeat: no-repeat;
      background-size: 80% auto;
      background-position: center top;
      padding-top: 70%; }
      @media (min-width: 576px) {
        .hero-container .hero.bg-image {
          background-size: 50% auto;
          background-position: 90% top;
          padding-top: 2em; } }
      @media (min-width: 768px) {
        .hero-container .hero.bg-image {
          background-size: auto 90%;
          background-position: 80% top;
          padding-top: 4em;
          padding-bottom: 3em; } }
      @media (min-width: 1200px) {
        .hero-container .hero.bg-image {
          background-position: 70% top; } }
    .hero-container .hero h1, .hero-container .hero h2, .hero-container .hero input, .hero-container .hero select {
      font-weight: 300; }
    .hero-container .hero h2 {
      font-size: 1.75rem; }
    .hero-container .hero input, .hero-container .hero select {
      text-transform: uppercase; }
    .hero-container .hero p, .hero-container .hero small {
      font-weight: 300; }
    .hero-container .hero img.hero {
      margin: 1.5rem 0 0; }
    @media (min-width: 576px) {
      .hero-container .hero p {
        width: 60%; }
      .hero-container .hero .row p {
        width: 100%; } }
    @media (min-width: 768px) {
      .hero-container .hero p {
        width: 50%; } }
    @media (min-width: 992px) {
      .hero-container .hero h1 {
        font-size: 2rem; }
      .hero-container .hero h2 {
        font-size: 2.25rem; } }
  .hero-container .hero-highlight {
    background-color: #a8ff00;
    position: relative;
    width: 100%;
    padding: 2rem 1rem 1rem; }
  .hero-container.homepage {
    background-image: url(../images/header-bg-mb.jpg);
    background-repeat: repeat-y;
    background-size: 130% auto;
    background-position: center; }
    @media (min-width: 576px) {
      .hero-container.homepage {
        background-image: url(../images/header-bg-desk-right.jpg);
        background-repeat: repeat-x;
        background-size: auto 100%; } }
    @media (min-width: 576px) {
      .hero-container.homepage .hero-desk-left-bg {
        position: absolute;
        width: 50%;
        height: 100%;
        background-image: url(../images/header-bg-desk-left.jpg);
        background-repeat: repeat-x;
        background-size: auto 100%;
        z-index: 0; } }
    .hero-container.homepage .hero {
      background-image: url(../images/homepage-hero.jpg);
      background-repeat: no-repeat;
      background-size: 130% auto;
      background-position: bottom center;
      padding-bottom: 3em;
      padding-top: 1em; }
      @media (min-width: 576px) {
        .hero-container.homepage .hero {
          background-size: auto 100%;
          padding-top: 2em; } }
      @media (min-width: 768px) {
        .hero-container.homepage .hero {
          padding-bottom: 6em; } }
      .hero-container.homepage .hero .icon-logo {
        width: 6.25rem;
        height: 5rem;
        margin-bottom: 1em; }
        @media (min-width: 576px) {
          .hero-container.homepage .hero .icon-logo {
            margin-bottom: 2em; } }
        @media (min-width: 768px) {
          .hero-container.homepage .hero .icon-logo {
            width: 9.375rem;
            height: 6.25rem;
            margin-top: 1em;
            margin-bottom: 4em; } }
      .hero-container.homepage .hero p span span, .hero-container.homepage .hero small span span {
        font-weight: 600; }
      .hero-container.homepage .hero .icon-arrow-down-lime {
        width: 3.75em;
        height: 2.2em;
        fill: rgba(255, 255, 255, 0.5); }
        @media (min-width: 768px) {
          .hero-container.homepage .hero .icon-arrow-down-lime {
            margin-top: 1em; } }
        @media (min-width: 992px) {
          .hero-container.homepage .hero .icon-arrow-down-lime {
            width: 6.25em;
            height: 3.4em; } }
      @media (min-width: 768px) {
        .hero-container.homepage .hero p {
          margin-bottom: 2em; } }
      @media (min-width: 992px) {
        .hero-container.homepage .hero p {
          font-size: 1.4rem;
          margin-top: 0.4em; } }
  .hero-container.member a.button {
    font-weight: 300; }
  .hero-container.member ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%; }
    .hero-container.member ul li {
      display: inline-block;
      font-weight: 300;
      padding-right: 1rem;
      margin-bottom: .5rem; }
    .hero-container.member ul.links {
      display: flex;
      justify-content: space-between; }
      @media (min-width: 992px) {
        .hero-container.member ul.links {
          display: inline-block; } }
      .hero-container.member ul.links li {
        position: relative; }
        @media (min-width: 576px) {
          .hero-container.member ul.links li {
            text-align: center; } }
        .hero-container.member ul.links li span {
          display: inline-block;
          background: #221f1f;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          height: 3.5rem;
          width: 3.5rem;
          margin-bottom: .5rem; }
          .hero-container.member ul.links li span.notification {
            position: absolute;
            top: 0;
            left: 0;
            width: 1.25rem;
            height: 1.25rem;
            padding-top: .1rem;
            background: #a8ff00;
            color: #221f1f;
            text-align: center; }
        .hero-container.member ul.links li svg {
          height: 3em;
          width: 3em;
          fill: #FFF;
          padding: .5rem;
          padding-top: .8rem; }
          .hero-container.member ul.links li svg.icon-message {
            padding-top: 1rem; }
          .hero-container.member ul.links li svg.icon-shop {
            padding: .3rem;
            padding-top: .8rem; }
          .hero-container.member ul.links li svg.icon-user {
            padding-top: .8rem; }
          .hero-container.member ul.links li svg.icon-friends {
            height: 3.25em;
            width: 3.25em;
            padding-top: .4rem; }
    .hero-container.member ul.stats li {
      font-size: 1.25rem; }
      .hero-container.member ul.stats li svg {
        height: 1em;
        width: 1em;
        fill: #a8ff00;
        margin-right: .5rem; }
      .hero-container.member ul.stats li.score {
        background: #a8ff00;
        color: #221f1f;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        padding: .25rem .5rem;
        font-size: 2.5rem;
        font-weight: 400;
        position: relative;
        margin-right: 1rem;
        display: block; }
        @media (min-width: 768px) {
          .hero-container.member ul.stats li.score {
            display: inline-block; } }
        .hero-container.member ul.stats li.score sup {
          font-size: .75rem;
          position: absolute;
          top: 1rem;
          right: 0.6rem; }
  .hero-container.member .member-img {
    position: relative;
    width: 17em;
    height: 17em;
    margin: 2rem 0 0; }
    @media (min-width: 768px) {
      .hero-container.member .member-img {
        margin: 0 auto; } }
    .hero-container.member .member-img img {
      width: 17em;
      height: 17em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border: 3px solid #221f1f; }
    .hero-container.member .member-img svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 5rem;
      height: 5rem;
      background: #FFF;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  @media (min-width: 768px) {
    .hero-container.member .col-md-5, .hero-container.member .col-lg-4 {
      text-align: center; } }

/* Carousel */
.carousel .slick-arrow {
  width: 1.6em;
  height: 2.75em;
  background: no-repeat;
  border: 0;
  text-indent: -2000em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -1.375em;
  z-index: 100; }
  .carousel .slick-arrow.slick-prev {
    background-image: url(../images/arrow-left.svg);
    left: 0; }
    @media (min-width: 768px) {
      .carousel .slick-arrow.slick-prev {
        left: -2em; } }
    @media (min-width: 992px) {
      .carousel .slick-arrow.slick-prev {
        left: -.5em; } }
    @media (min-width: 1200px) {
      .carousel .slick-arrow.slick-prev {
        left: -4em; } }
  .carousel .slick-arrow.slick-next {
    background-image: url(../images/arrow-right.svg);
    right: 0; }
    @media (min-width: 768px) {
      .carousel .slick-arrow.slick-next {
        right: -2em; } }
    @media (min-width: 992px) {
      .carousel .slick-arrow.slick-next {
        right: -.5em; } }
    @media (min-width: 1200px) {
      .carousel .slick-arrow.slick-next {
        right: -4em; } }
  .carousel .slick-arrow.slick-disabled {
    opacity: .25;
    cursor: default; }
.carousel .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .carousel .slick-dots li {
    display: inline-block; }
    .carousel .slick-dots li button {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      width: 1.25em;
      height: 1.25em;
      background: transparent;
      border: 2px solid #FFF;
      text-indent: -2000em;
      cursor: pointer;
      margin: 0 0.25em;
      padding: 0; }
    .carousel .slick-dots li.slick-active button {
      background: #a8ff00;
      border: 2px solid #a8ff00; }
.carousel .slick-list .slick-slide {
  min-height: 16em; }
.carousel.icons .slick-slide {
  text-align: center;
  padding: 0 3em;
  position: relative; }
  @media (min-width: 768px) {
    .carousel.icons .slick-slide {
      padding: 0 2em; } }
  .carousel.icons .slick-slide svg {
    width: 6.25em;
    height: 6.25em; }
    .carousel.icons .slick-slide svg.icon-community {
      fill: #006838; }
    .carousel.icons .slick-slide svg.icon-shop {
      fill: #221f1f; }
    .carousel.icons .slick-slide svg.icon-watch {
      fill: #a8ff00; }
    .carousel.icons .slick-slide svg.icon-globe {
      fill: #3cab49; }
    .carousel.icons .slick-slide svg.icon-uk-flag {
      width: 2em;
      height: 2em;
      position: absolute;
      top: 0;
      left: 60%; }
  .carousel.icons .slick-slide h1 {
    font-weight: 600;
    color: #006838;
    font-size: 1.25rem;
    min-height: 2em; }
    .carousel.icons .slick-slide h1 a {
      color: #006838; }
    .carousel.icons .slick-slide h1 em {
      font-weight: 300; }
.carousel.cta .slick-list .slick-track {
  background: #3cab49;
  margin: 2.5em 0 0;
  padding: 2.5em 0 0; }
  .carousel.cta .slick-list .slick-track .slick-slide {
    position: relative; }
    @media (min-width: 992px) {
      .carousel.cta .slick-list .slick-track .slick-slide {
        min-height: 20em; } }
    @media (min-width: 768px) {
      .carousel.cta .slick-list .slick-track .slick-slide h1 {
        font-size: 2rem; } }
    @media (min-width: 992px) {
      .carousel.cta .slick-list .slick-track .slick-slide h1 {
        font-size: 2.5rem; } }
    .carousel.cta .slick-list .slick-track .slick-slide .icon-share {
      fill: #FFF;
      width: 1.75em;
      height: 1.75em;
      margin-top: -.1em; }
      @media (min-width: 768px) {
        .carousel.cta .slick-list .slick-track .slick-slide .icon-share {
          width: 2em;
          height: 2em;
          margin-top: -.25em; } }
    .carousel.cta .slick-list .slick-track .slick-slide .absolute {
      height: 20em;
      width: 10em;
      position: absolute;
      top: -5em;
      right: 0;
      z-index: -1;
      overflow: hidden; }
      @media (min-width: 576px) {
        .carousel.cta .slick-list .slick-track .slick-slide .absolute {
          width: 20em; } }
      @media (min-width: 768px) {
        .carousel.cta .slick-list .slick-track .slick-slide .absolute {
          width: 22em;
          right: auto;
          left: 50%; } }
      @media (min-width: 992px) {
        .carousel.cta .slick-list .slick-track .slick-slide .absolute {
          height: 24em;
          width: 26em; } }
      .carousel.cta .slick-list .slick-track .slick-slide .absolute img {
        height: 100%;
        width: auto; }
.carousel.cta .slick-dots {
  background: #3cab49;
  padding: 0 0 1em 0; }
.carousel.full .slick-list .slick-track .slick-slide {
  position: relative;
  padding: 2rem 0; }
  @media (min-width: 992px) {
    .carousel.full .slick-list .slick-track .slick-slide {
      min-height: 20em;
      padding: 4rem 0; } }
  @media (min-width: 768px) {
    .carousel.full .slick-list .slick-track .slick-slide h1 {
      font-size: 2rem; } }
  @media (min-width: 992px) {
    .carousel.full .slick-list .slick-track .slick-slide h1 {
      font-size: 2.5rem; } }
.carousel.full .slick-dots {
  background: #3cab49;
  padding: 0 0 1em 0; }
  @media (min-width: 992px) {
    .carousel.full .slick-dots {
      padding: 0 0 2em 0; } }
@media (min-width: 768px) {
  .carousel.news .slick-slide .shadow {
    width: 85%; } }
@media (min-width: 992px) {
  .carousel.news .slick-slide .shadow {
    margin-left: 10%;
    margin-right: 5%; } }
@media (min-width: 992px) {
  .carousel.news .slick-slide .shadow:nth-child(2n) {
    margin-left: 5%;
    margin-right: 10%; } }
@media (min-width: 768px) {
  .carousel.news .slick-slide .shadow h1 {
    font-size: 1.75rem; } }
@media (min-width: 992px) {
  .carousel.news .slick-slide .shadow h1 {
    font-size: 2rem; } }
.carousel.members .slick-list .shadow {
  padding-bottom: 1.5rem; }
  @media (min-width: 576px) {
    .carousel.members .slick-list .shadow {
      width: 75%; } }
  @media (min-width: 768px) {
    .carousel.members .slick-list .shadow {
      width: 85%; } }

/* List */
.list div[class^="col"] {
  padding-bottom: 1.5rem; }
.list .shadow {
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #221f1f; }
  @media (min-width: 768px) {
    .list .shadow {
      width: 100%; } }
  .list .shadow .icon-link {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
    background: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .list .shadow .icon-link svg {
      width: 1.75em;
      height: 1.75em; }
    .list .shadow .icon-link.share svg {
      fill: #3cab49; }
    .list .shadow .icon-link.country-flag {
      top: 2.75rem; }
  .list .shadow h1 {
    font-weight: 600;
    font-size: 1.5rem; }
  .list .shadow img {
    width: 100%;
    border-top: 5px solid #3cab49; }
  .list .shadow .bg-image {
    display: block;
    width: 100%;
    height: 11em;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    border-top: 5px solid #3cab49; }
  .list .shadow .copy {
    color: #FFF; }
    .list .shadow .copy .icon-calendar {
      width: 1em;
      height: 1.125em;
      fill: #ddd; }
  .list .shadow p, .list .shadow li {
    font-weight: 300; }
  .list .shadow ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
  .list .shadow a.button, .list .shadow span.button {
    font-size: 1rem;
    font-weight: 300; }
  .list .shadow.green {
    background: #006838; }
  .list .shadow.white {
    background: #FFF; }
    .list .shadow.white h1 {
      color: #006838 !important; }
    .list .shadow.white .copy {
      color: #221f1f; }
  .list .shadow.ad .bg-image {
    width: 100%;
    height: 100%;
    min-height: 23em;
    border-top: 0; }
    .list .shadow.ad .bg-image:hover, .list .shadow.ad .bg-image:focus {
      text-decoration: none; }
    .list .shadow.ad .bg-image h1 {
      font-weight: 300;
      font-size: 1.5rem !important; }
    .list .shadow.ad .bg-image span.button {
      position: absolute;
      bottom: 1.5rem;
      left: 1rem; }

/* Article list */
.article-list img {
  width: 100%; }
.article-list p {
  font-weight: 300; }
.article-list a.button {
  font-size: 1rem;
  font-weight: 300; }

/* News list */
/* Member list */
.member-list .container > h1 {
  text-align: center;
  width: 100%; }
  @media (min-width: 768px) {
    .member-list .container > h1 {
      text-align: left;
      padding-left: 1.55rem; } }
  @media (min-width: 992px) {
    .member-list .container > h1 {
      padding-left: 1.45rem; } }
  @media (min-width: 1200px) {
    .member-list .container > h1 {
      padding-left: 1.15rem; } }
@media (min-width: 576px) {
  .member-list .shadow {
    width: 100%; } }
.member-list .shadow h1 {
  font-size: 1.25rem;
  position: relative; }
  .member-list .shadow h1 svg {
    position: absolute;
    top: .1rem;
    right: 0;
    background: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
.member-list .shadow ul li {
  padding-bottom: .5rem; }
  .member-list .shadow ul li:last-child {
    padding-bottom: 0; }
  .member-list .shadow ul li svg {
    fill: #ddd;
    margin-right: .5rem; }

/* Pagination */
.page-controls {
  text-align: center; }
  @media (min-width: 576px) {
    .page-controls {
      text-align: left; } }
  .page-controls .pagination {
    list-style: none;
    display: inline-block;
    margin-bottom: 0; }
    .page-controls .pagination li {
      display: inline-block;
      background: #f0f0f1;
      text-align: center;
      font-weight: 300;
      padding: .3rem;
      vertical-align: middle; }
      .page-controls .pagination li:last-child {
        background: transparent; }
      .page-controls .pagination li svg {
        fill: #3cab49;
        width: 1rem;
        height: 1rem; }
      .page-controls .pagination li a:hover svg, .page-controls .pagination li a:focus svg {
        fill: #221f1f; }
  .page-controls .dropdown.sort .dropdown-toggle::after {
    display: none; }
  .page-controls .dropdown.sort a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #221f1f;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    padding: .35rem 1rem .25rem 1rem; }
    @media (min-width: 576px) {
      .page-controls .dropdown.sort a {
        float: right; } }
    .page-controls .dropdown.sort a:hover, .page-controls .dropdown.sort a:focus {
      background: #221f1f !important;
      box-shadow: none !important; }
    .page-controls .dropdown.sort a svg {
      fill: #a8ff00;
      float: right;
      margin-top: .2rem;
      margin-left: .5rem; }
      @media (min-width: 768px) {
        .page-controls .dropdown.sort a svg {
          margin-left: 1.5rem; } }
  .page-controls .dropdown.sort .dropdown-menu {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0; }

/* Member number */
.member-number {
  background: url(../images/globe.png) no-repeat center center;
  background-size: auto 85%;
  width: 100%;
  height: 23rem;
  text-align: center; }
  .member-number span {
    text-transform: uppercase;
    display: block; }
    .member-number span:first-child {
      font-size: 5rem;
      font-weight: 600;
      padding-top: 9rem; }
    .member-number span:last-child {
      font-weight: 300;
      font-size: 1.25rem; }

/* Sign up */
form.sign-up {
  max-width: 50rem;
  margin: 0 auto; }
  form.sign-up ::-webkit-input-placeholder {
    color: #FFF; }
  form.sign-up :-moz-placeholder {
    color: #FFF; }
  form.sign-up ::-moz-placeholder {
    color: #FFF; }
  form.sign-up :-ms-input-placeholder {
    color: #FFF; }
  form.sign-up a {
    color: #a8ff00 !important; }
  form.sign-up label {
    color: #FFF;
    margin-bottom: 0; }
  form.sign-up p {
    color: #FFF; }
    form.sign-up p span {
      text-transform: uppercase;
      margin: 0;
      display: inline; }
  form.sign-up div[class^="col"] label {
    padding-bottom: .45rem; }
  @media (min-width: 768px) {
    form.sign-up div[class^="col"] label {
      padding-top: .45rem; }
    form.sign-up div[class^="col"] p {
      width: 90%; } }
  form.sign-up .icon {
    position: absolute;
    width: 3.25rem;
    height: 3.25rem;
    background: url(../images/golf-ball.png) no-repeat center center;
    background-size: 100% 100%;
    z-index: 10; }
    form.sign-up .icon.number {
      color: #3cab49;
      font-size: 3rem;
      text-align: center; }
    @media (min-width: 768px) {
      form.sign-up .icon {
        width: 5.25rem;
        height: 5.25rem; }
        form.sign-up .icon.number {
          font-size: 5rem; } }
    form.sign-up .icon svg {
      padding: .25em; }
      form.sign-up .icon svg.green {
        fill: #3cab49; }
  form.sign-up h2 {
    margin: 2rem 0 0 2rem;
    padding: 1rem;
    background: #f0f0f1;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    display: inline-block;
    font-weight: 400;
    color: #006838;
    z-index: 0;
    position: relative;
    font-size: 1rem; }
    @media (min-width: 768px) {
      form.sign-up h2 {
        margin: 2rem 0 0 4rem;
        padding: 1rem 1rem 1rem 2rem;
        font-size: 1.15rem; } }
  form.sign-up .fields {
    margin-left: 2rem;
    z-index: 10;
    position: relative;
    padding: 1rem;
    background: #006838;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      form.sign-up .fields {
        width: 80%;
        margin-left: 20%;
        margin-top: -.5rem;
        padding: 1rem 2rem;
        margin-bottom: .5rem; } }
    form.sign-up .fields.orange-bg {
      background: #ff5c00; }
    form.sign-up .fields input, form.sign-up .fields select, form.sign-up .fields textarea {
      color: #FFF;
      background: #221f1f;
      border: 1px solid #221f1f; }
    form.sign-up .fields textarea {
      height: 15em; }
    form.sign-up .fields .styled-select {
      border: 1px solid #221f1f;
      border-right: 1rem solid #221f1f;
      background: #221f1f url(../images/arrow-down-lime.svg) no-repeat right center; }
      form.sign-up .fields .styled-select select {
        color: #FFF; }
  form.sign-up .submit {
    position: relative;
    padding-top: .75rem; }
    @media (min-width: 576px) {
      form.sign-up .submit {
        margin-top: 2rem; } }
    @media (min-width: 768px) {
      form.sign-up .submit {
        margin-top: 1rem;
        margin-bottom: 5rem; } }
    form.sign-up .submit img {
      position: absolute;
      top: -.75rem;
      left: -2rem;
      height: 8rem;
      width: auto;
      display: none; }
      @media (min-width: 576px) {
        form.sign-up .submit img {
          display: block; } }
      @media (min-width: 768px) {
        form.sign-up .submit img {
          height: 10rem;
          top: -1.5rem;
          left: -4rem; } }
      @media (min-width: 992px) {
        form.sign-up .submit img {
          height: 11rem;
          top: -2.5rem;
          left: -3.75rem; } }
    form.sign-up .submit p {
      color: #006838;
      font-weight: 400;
      padding: 1rem 4rem 1rem 1rem;
      margin: 0 2rem;
      background: #f0f0f1;
      display: block;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      border-radius: 1rem; }
      @media (min-width: 576px) {
        form.sign-up .submit p {
          margin: 1rem 2rem 1rem 6rem;
          padding: 1rem 5rem 1rem 1rem;
          text-align: right; } }
    form.sign-up .submit input[type="submit"] {
      font-size: 2.5rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      color: #006838;
      padding: 1.7rem 0;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0; }

/* Profile Nav */
.profile-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .profile-nav ul {
      display: flex; } }
  .profile-nav ul li {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .profile-nav ul li {
        width: 33.33%; } }
    .profile-nav ul li a:link, .profile-nav ul li a:visited {
      color: #221f1f;
      padding: 1rem 1rem 0.8rem;
      display: block; }
      @media (min-width: 768px) {
        .profile-nav ul li a:link, .profile-nav ul li a:visited {
          border-left: 1px solid #a8ff00; } }
    .profile-nav ul li a:focus, .profile-nav ul li a:hover {
      text-decoration: none;
      background: #a8ff00; }
    .profile-nav ul li:first-child a:link, .profile-nav ul li:first-child a:visited {
      border-left: 0; }
    .profile-nav ul li.active a:link, .profile-nav ul li.active a:visited {
      background: #a8ff00; }

/* Edit profile form */
form.edit-profile h1 {
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 1.5rem;
  font-weight: 400; }
  form.edit-profile h1 sup {
    text-transform: lowercase; }
  @media (min-width: 768px) {
    form.edit-profile h1 {
      padding: 0 1rem; } }
@media (min-width: 768px) {
  form.edit-profile div[class^="col"] {
    padding: 0 1rem; }
    form.edit-profile div[class^="col"] h1 {
      padding-left: 0; } }
form.edit-profile label {
  color: #a8ff00;
  display: block; }
form.edit-profile input, form.edit-profile select, form.edit-profile textarea {
  margin-bottom: 1rem; }
  form.edit-profile input.short, form.edit-profile select.short, form.edit-profile textarea.short {
    width: 50%; }
  form.edit-profile input[type="submit"], form.edit-profile select[type="submit"], form.edit-profile textarea[type="submit"] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin-top: 1rem; }
    @media (min-width: 768px) {
      form.edit-profile input[type="submit"], form.edit-profile select[type="submit"], form.edit-profile textarea[type="submit"] {
        margin-left: 1rem; } }
form.edit-profile .member-img {
  position: relative;
  width: 15em;
  height: 15em;
  margin: 2rem 0 1rem; }
  @media (min-width: 768px) {
    form.edit-profile .member-img {
      margin: 0 auto;
      width: 17em;
      height: 17em; } }
  form.edit-profile .member-img a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    display: block;
    color: #221f1f;
    text-align: center; }
    form.edit-profile .member-img a span.overlay {
      display: block;
      background: rgba(167, 255, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      font-size: 1.25rem;
      padding-top: 45%; }
    form.edit-profile .member-img a.image {
      width: 15em;
      height: 15em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border: 3px solid #221f1f;
      z-index: 1; }
      @media (min-width: 768px) {
        form.edit-profile .member-img a.image {
          width: 17em;
          height: 17em; } }
      form.edit-profile .member-img a.image img {
        width: 100%;
        height: auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
    form.edit-profile .member-img a.flag {
      position: absolute;
      top: 0;
      right: 0;
      width: 5rem;
      height: 5rem;
      background: #FFF;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      z-index: 10; }
      form.edit-profile .member-img a.flag span.overlay {
        padding-top: 38%; }
      form.edit-profile .member-img a.flag svg {
        width: 5rem;
        height: 5rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }

a.add-hole:link, a.add-hole:visited {
  display: block;
  width: 100%;
  padding: 1.15rem 0 1rem;
  font-size: 1.75rem;
  color: #221f1f;
  background: #a8ff00;
  text-align: center; }
a.add-hole:focus, a.add-hole:hover {
  text-decoration: none; }
