/* Colour Vars */

$black:   		#221f1f;
$white:				#FFF;
$grey:				#404041;
$grey-mid:		#57585b;
$grey-light:	#ddd;
$off-white:		#f0f0f1;
$orange:			#ff5c00;
$lime:				#a8ff00;
$green:				#3cab49;
$green-dk:		#006838;


/* Colour Classes */

.orange {
	color: $orange !important;
}

.lime {
	color: $lime !important;
}

.green {
	color: $green !important;
}

.green-dk {
	color: $green-dk !important;
}