/* Colour Vars */

$black:   		#221f1f;
$white:				#FFF;
$grey:				#404041;
$grey-mid:		#57585b;
$grey-light:	#ccc;
$off-white:		#f0f0f1;
$lime:				#a8ff00;
$green:				#3cab49;
$green-dk:		#006838;


/* Colour Classes */

.lime {
	color: $lime;
}

.green {
	color: $green;
}

.green-dk {
	color: $green-dk;
}