/* Hero */

.hero-container {
	background-color: $off-white;
	position: relative;
	width: 100%;

	&.dark {
		background-color: $grey;
		color: $white;
	}

	.arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $off-white;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -25px;

    &.lime {
    	border-top: 30px solid $lime;
    }

    &.dark {
    	border-top: 30px solid $grey;
    }
	}

	.hero {
		padding-top: 2em;
		padding-bottom: 2em;
		z-index: 0;
		position: relative;

		@include media-breakpoint-up(md) {
			padding-top: 3em;
		}

		&.bg-image {
			background-repeat: no-repeat;
			background-size: 80% auto;
			background-position: center top;
			padding-top: 70%;

			@include media-breakpoint-up(sm) {
				background-size: 50% auto;
				background-position: 90% top;
				padding-top: 2em;
			}

			@include media-breakpoint-up(md) {
				background-size: auto 90%;
				background-position: 80% top;
				padding-top: 4em;
				padding-bottom: 3em;
			}

			@include media-breakpoint-up(xl) {
				background-position: 70% top;
			}
		}

		h1, h2, input, select {
			font-weight: 300;
		}

		h2 {
			font-size: 1.75rem;
		}

		input, select {
			text-transform: uppercase;
		}

		p, small {
			font-weight: 300;
		}

		img {

			&.hero {
				margin: 1.5rem 0 0;
			}
		}

		@include media-breakpoint-up(sm) {

			p {
				width: 60%;
			}

			.row {

				p {
					width: 100%;
				}
			}
		}
		@include media-breakpoint-up(md) {

			p {
				width: 50%;
			}
		}
		@include media-breakpoint-up(lg) {

			h1 {
				font-size: 2rem;
			}
			h2 {
				font-size: 2.25rem;
			}
		}
	}

	.hero-highlight {
		background-color: $lime;
		position: relative;
		width: 100%;
		padding: 2rem 1rem 1rem;
	}

	&.homepage {
		background-image: url(../images/header-bg-mb.jpg);
		background-repeat: repeat-y;
		background-size: 130% auto;
		background-position: center;

		@include media-breakpoint-up(sm) {
			background-image: url(../images/header-bg-desk-right.jpg);
			background-repeat: repeat-x;
			background-size: auto 100%;
		}

		.hero-desk-left-bg {

			@include media-breakpoint-up(sm) {
				position: absolute;
				width: 50%;
				height: 100%;
				background-image: url(../images/header-bg-desk-left.jpg);
				background-repeat: repeat-x;
				background-size: auto 100%;
				z-index: 0;
			}
		}

		.hero {
			background-image: url(../images/homepage-hero.jpg);
			background-repeat: no-repeat;
			background-size: 130% auto;
			background-position: bottom center;
			padding-bottom: 3em;
			padding-top: 1em;

			@include media-breakpoint-up(sm) {
				background-size: auto 100%;
				padding-top: 2em;
			}
			@include media-breakpoint-up(md) {
				padding-bottom: 6em;
			}

			.icon-logo {
				width: 6.25rem;
				height: 5rem;
				margin-bottom: 1em;

				@include media-breakpoint-up(sm) {
					margin-bottom: 2em;
				}
				@include media-breakpoint-up(md) {
					width: 9.375rem;
					height: 6.25rem;
					margin-top: 1em;
					margin-bottom: 4em;
				}
			}

			p, small {

				span {

					span {
						font-weight: 600;
					}
				}
			}

			.icon-arrow-down-lime {
				width: 3.75em;
				height: 2.2em;
				fill: rgba(255,255,255,.5);

				@include media-breakpoint-up(md) {
					margin-top: 1em;
				}
				@include media-breakpoint-up(lg) {
					width: 6.25em;
					height: 3.4em;
				}
			}
			@include media-breakpoint-up(md) {

				p {
					margin-bottom: 2em;
				}
			}
			@include media-breakpoint-up(lg) {

				p {
					font-size: 1.4rem;
					margin-top: 0.4em;
				}
			}
		}
	}

	&.member {

		a {

			&.button {
				font-weight: 300;
			}
		}

		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
			width: 100%;

			li {
				display: inline-block;
				font-weight: 300;
				padding-right: 1rem;
				margin-bottom: .5rem;
			}

			&.links {
				display: flex;
				justify-content: space-between;

				@include media-breakpoint-up(lg) {
					display: inline-block;
				}

				li {
					position: relative;

					@include media-breakpoint-up(sm) {
						text-align: center;
					}

					span {
						display: inline-block;
						background: $black;
						@include border-radius(50%);
						height: 3.5rem;
						width: 3.5rem;
						margin-bottom: .5rem;

						&.notification {
							position: absolute;
							top: 0;
							left: 0;
							width: 1.25rem;
							height: 1.25rem;
							padding-top: .1rem;
							background: $lime;
							color: $black;
							text-align: center;
						}
					}

					svg {
						height: 3em;
						width: 3em;
						fill: $white;
						padding: .5rem;
						padding-top: .8rem;

						&.icon-message {
							padding-top: 1rem;
						}

						&.icon-shop {
							padding: .3rem;
							padding-top: .8rem;
						}

						&.icon-user {
							padding-top: .8rem;
						}

						&.icon-friends {
							height: 3.25em;
							width: 3.25em;
							padding-top: .4rem;
						}
					}
				}
			}

			&.stats {

				li {
					font-size: 1.25rem;

					svg {
						height: 1em;
						width: 1em;
						fill: $lime;
						margin-right: .5rem;
					}

					&.score {
						background: $lime;
						color: $black;
						@include border-radius(50%);
						width: 3rem;
						height: 3rem;
						padding: .25rem .5rem;
						font-size: 2.5rem;
						font-weight: 400;
						position: relative;
						margin-right: 1rem;
						display: block;

						@include media-breakpoint-up(md) {
							display: inline-block;
						}

						sup {
							font-size: .75rem;
							position: absolute;
							top: 1rem;
							right: 0.6rem;
						}
					}
				}
			}
		}

		.member-img {
			position: relative;
			width: 17em;
			height: 17em;
			margin: 2rem 0 0;

			@include media-breakpoint-up(md) {
				margin: 0 auto;
			}

			img {
				width: 17em;
				height: 17em;
				@include border-radius(50%);
				border: 3px solid $black;
			}

			svg {
				position: absolute;
				top: 0;
				right: 0;
				width: 5rem;
				height: 5rem;
				background: $white;
				@include border-radius(50%);
			}
		}

		.col-md-5, .col-lg-4 {

			@include media-breakpoint-up(md) {
				text-align: center;
			}
		}
	}
}


