/* Body */

body {
	color: $white;
	background: $grey;
	font-family: $font-family-base;
	line-height: 1.25;
}

.container {
	
	@include media-breakpoint-up(lg) {
		max-width: 62rem;
	}
}

main {
	color: $black;
	background: $white;
}