/* CTAs */

a {

	&:link, &:visited {
		color: $green;
		text-decoration: none;
	}

	&:focus, &:hover {
		text-decoration: underline;
	}

	&.button {

		&:link, &:visited {
			color: $lime;
			background: $black;
			font-size: 0.85rem !important;
			@include border-radius(10px);

			&.large {
				font-size: 1.25rem !important;
			}

			&.lime {
				color: $black !important;
				background: $lime;
			}

			&.green {
				color: $white !important;
				background: $green;
			}

			@include media-breakpoint-up(md) {
				font-size: 1em;
			}
			@include media-breakpoint-up(lg) {
				font-size: 1.2em;
			}
		}

		&:focus, &:hover {
			text-decoration: none;
		}
	}

	span {

		&.button {
			color: $lime;
			background: $black;
			font-size: 0.85rem !important;
			@include border-radius(10px);

			&.large {
				font-size: 1.25rem !important;
			}

			&.lime {
				color: $black;
				background: $lime;
			}

			&.green {
				color: $white;
				background: $green;
			}

			@include media-breakpoint-up(md) {
				font-size: 1em;
			}
			@include media-breakpoint-up(lg) {
				font-size: 1.2em;
			}
		}
	}
}