/* Header */

header {
	background: $white;
	color: $black;
	padding-top: 3.5rem;
	position: relative;

	nav {
		background: $black;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;

		.icon-logo {
			width: 3.75rem;
			height: 2.5rem;
			fill: $white;
		}

		.dropdown {

			a {

				&.menu {	
					background: $grey;
					height: 3.5rem;
					padding-top: 0.875rem;

					.icon-menu {
						width: 1.75rem;
						height: 1.75rem;
						fill: $white;
					}
				}
			}

			.dropdown-toggle::after {
			  display:none;
			}

			.dropdown-menu {
				margin: 0;
				padding: 0;
				@include border-radius(0);
				border: 0;
				background: $grey-mid;
				width: 11rem;

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					width: 100%;

					li {

						a {

							&:link, &:visited {
								display: block;
								text-transform: uppercase;
								font-weight: 300;
								color: $white;
								padding: .35rem 1rem .25rem;
							}

							&:focus, &:hover {
								text-decoration: none;
								background: $black;
							}
						}

						&:first-child {

							a {
								&:link, &:visited {
									padding: .5rem 1rem .25rem;
								}
							}
						}

						&:last-child {

							a {
								&:link, &:visited {
									padding: .35rem 1rem .5rem;
								}
							}
						}
					}
				}
			}
		}

		a {

			&.login, &.messages {
				padding-top: 1rem;
				color: $lime;
				font-weight: 300;

				&:focus, &:hover {
					text-decoration: none;
				}

				.icon {
					width: 1.2rem;
					height: 1.425rem;
					fill: $lime;
				}

				span {
					font-size: .75rem;
					display: none;

					@include media-breakpoint-up(md) {
						display: inline-block;
					}
				}
			}

			&.messages {
				position: relative;

				.icon {
					width: 1.525rem;
					height: 1.3rem;
					fill: $white;
				}

				span {
					display: inline-block;

					&.notification {
						position: absolute;
						top: 0.5rem;
						left: 0.25rem;
						width: 1.25rem;
						height: 1.25rem;
						padding-top: .2rem;
						background: $lime;
						color: $black;
						text-align: center;
						@include border-radius(50%);
						font-weight: 400;
					}
				}
			}

			&.boss {

				img {
					width: auto;
					height: 1.75rem;
					margin-top: .975rem;
				}
			}
		}
	}

	&.homepage {
		padding-top: 0;
		padding-bottom: 3.5rem;

		nav {
			top: auto;
			bottom: 0;
			position: absolute;

			&.fix {
				top: 0;
				bottom: auto;
				position: fixed;
			}
		}
	}
}